fastapi
uvicorn
python-multipart
streamlit
langchain
langchain-community
langchain-openai
langchain-chroma
chromadb
sentence-transformers
pypdf
python-docx
python-dotenv
langchain-text-splitters
langchain-deepseek
langchain-core